body,html{
    background-image: url("img/background_belajar_warna.jpg.jpg");
    background-repeat: no-repeat;
    background-size :cover;
    height: 100%;
    width: 100%;
}

h1{
    margin-top: 10%;
    text-align: center;
    font-family: 'Butterfly Kids';
    font-size: 50px

}

button{
    border:none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
}

button:hover{
    color:black;
    background:white
}

#warnaPertanyaan{
    color: black;
}

#menu{
    background: black;
    height : 25px;
    text-align: center;
}

span{
    color :white
}

.pilihanJawaban{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin : 1.66px;
    border-radius: 100%;
    -webkit-transition: background 0.6s;
    -moz-transition : background 0.6s;
    margin-top : 50px
}

#container{
    margin : auto;
    max-width: 600px;
}


