* {
	box-sizing: border-box;
}

body {
	background-image: url(img/background.jpg);
	margin: 0;
	padding:0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ------------------------------------------------------HEADER STYLE--------------------------------------------------------------*/

.header-box {
	width: 100%;
	background-color: #FFFAF0;
	box-shadow: 0px 11px 21px -9px rgba(0,0,0,0.75);

}

h1 {
	margin: 20px auto;
	padding-bottom:20px;
	font-family: 'Parisienne', cursive;
	font-size: 80px;
	text-align: center;
	color: #2F4F4F;
}

.header-box nav ul {
	text-align: center;
	margin:0;
}

.header-box nav ul li {
	padding: 20px 20px 20px 20px;
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.header-box nav ul li a {
	padding: 20px 50px 20px 50px;
	text-decoration: none;
	list-style-type: none;
	color: #40E0D0;
	transition: all 0.5s;
}

.header-box nav ul li a:hover {
	background-color: #40E0D0;
	color:#FFFAF0;
	transition: all 0.5s;
}

/* ------------------------------------------------------END OF header STYLE----------------------------------------------------------------------*/

.body-box {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

.profile-box {
	width: 75%;
	height: 1000px;
	background-color: whitesmoke;
	box-shadow: 1px 8px 20px -4px rgba(0,0,0,1);
	padding: 30px;
	display: flex;
	justify-content: space-evenly;
	font-family: 'Quicksand', sans-serif;
}

.left-profile {
	width: 30%;
	text-align: left;
}

.photo-profile {
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.photo-profile img {
	width: 75%;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 5px solid rgb(242, 237, 237);
}

.right-profile {
	text-align: left;
	width: 70%;
	padding-left: 30px;
}

h2 {
	margin-top: 0;
}

.bio {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.bio th {
	padding-bottom: 15px;
}

.bio td {
	padding-bottom: 15px;
}

.about {
	text-align: justify;
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.work-experience {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.certificate {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.project {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.education {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.organization-experience {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.skill {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.language {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}

.interest {
	padding-bottom: 10px;
	border-bottom: 5px solid rgb(242, 237, 237);
}



.social-box {
	width: 70px;
	height: 330px;
	background-color: #D3D3D3;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	opacity: 80%;
	box-shadow: 0px 7px 22px -11px rgba(0,0,0,1);
}

.social-box a {
	display: block;
}
.social-box img {
	width: 60%;
	margin: 10px auto;
	transition: all 0.5;
}

.social-box img:hover {
	width: 70px;
	transition: all 0.2s;
}


/* ------------------------------------------------------END OF index.html STYLE---------------------------------------------------------*/

/* ------------------------------------------------------mygram.html STYLE----------------------------------------------------------*/



.photo-grid img{
	width: 30%;
	height: 350px;
	float:left;
	margin: 1.66%;
	box-shadow: 0px 7px 17px -3px rgba(0,0,0,1);
	transition: all 0.1s;

}

.photo-grid img:hover{
	box-shadow: 0px 7px 43px 9px rgba(255,255,255,1);
	transition: all 0.1s;
}

/* ------------------------------------------------------END OF mygram.html STYLE---------------------------------------------------------*/

/* ------------------------------------------------------mypress.html STYLE---------------------------------------------------------------*/

.article-box{
	padding :20px;
	width: 80%;
	max-width: 700px;
	margin: 20px auto;
	font-family: 'Quicksand', sans-serif;
	background-color: #FFFAF0;
	box-shadow: 0px 7px 17px -3px rgba(0,0,0,1);

}

.date{
	color : #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

}

.quote{
	border-left: solid #D3D3D3 5px;
	padding-left: 5px;
}

h2{
	color: #2c3e50;
	font-size: 2.0rem;

}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* ------------------------------------------------------END OF mypress.html STYLE---------------------------------------------------------*/

/* ------------------------------------------------------footer STYLE----------------------------------------------------------------------*/


footer{
	background-color: #2F4F4F;
	width: 100%;
	margin: 0;
}

footer h6{
	color: whitesmoke;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}