* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
}

/* ------------------------------------------------------HEADER STYLE--------------------------------------------------------------*/

.header-box {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	position: fixed;
	z-index: 10;
}

.header-box h1 {
	font-family: 'Parisienne', cursive;
	color: #2F4F4F;
	font-size: 3.5em;
}

.header-box nav ul {
	margin:0;
	padding: 0;
}

.header-box nav ul li {
	display: inline-block;
	font-weight: bold;
	font-size: 1em;
}

.header-box nav ul li a {
	text-decoration: none;
	list-style-type: none;
	color: #64dfdf;
	border-radius: 0.2em;
	transition: all 0.5s;
	padding: 1em;
}

.header-box nav ul li a:hover {
	background-color: #64dfdf;
	color:#FFFAF0;
	transition: all 0.5s;
}

/* ------------------------------------------------------END OF header STYLE----------------------------------------------------------------------*/

.profile-box {
	height: 90vh;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto 1em;
}

.profile-box h1 {
	color: #2c3e50;
	font-size: 2rem;
	letter-spacing: 0.2rem;
	margin: 0;
	text-align: center;
}

.profile-box h2 {
	color: #2c3e50;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	opacity: 0.5;
	margin: 0;
	text-align: center;
}

.profile-box p {
	margin-top: 1em;
	line-height: 2rem;
	border-top: 0.2em solid #64dfdf27;
	text-align: justify;
	letter-spacing: 0.1em;
}

.left-profile {
	width: 50%;
	display: flex;
	justify-content: center;
}

.photo-profile {
	text-align: center;
}

.photo-profile img {
	width: 50%;
	border-radius: 50%;
	border: solid 0.2rem whitesmoke;
}

.right-profile {
	width: 50%;
	display: flex;
	justify-content: center;
}

.button {
	height: 10vh;
}
.find-me {
	color: white;
	text-decoration: none;
	background-color: #219ebc;
	padding: 0.8em;
	text-transform: uppercase;
	border-radius: 0.2em;
	cursor: pointer;

}

#social {
	height: 90vh;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: #2c3e50;

}

.dot {
	font-size: 1.5em;
	color: #64dfdf;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
}

.grid-container a {
	text-decoration: none;
	color:#2c3e50;
}

.link {
	width: 35vw;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.img-position {
	position: absolute;
	width: 150px;
	bottom: 5px;
	left:-20px;
	transform: rotate(10deg);
	opacity: 0.3;
}

.link:hover{
	background-color: white;
	box-shadow: turquoise;
	overflow: visible;
}

.github {
	margin: 15px;
	background-color: whitesmoke;
	font-size: 2em;
	font-weight: bold;
}

.twitter {
	margin: 15px;
	background-color: whitesmoke;
	font-size: 2em;
	font-weight: bold;
}

.linkedin {
	margin: 15px;
	background-color: whitesmoke;
	font-size: 2em;
	font-weight: bold;
}

.instagram {
	margin: 15px;
	background-color: whitesmoke;
	font-size: 2em;
	font-weight: bold;
}
/* ------------------------------------------------------END OF index.html STYLE---------------------------------------------------------*/

/* ------------------------------------------------------snapshot.html STYLE----------------------------------------------------------*/


/* 
.photo-grid img{
	width: 30%;
	height: 350px;
	float:left;
	margin: 1.66%;
	box-shadow: 0px 7px 17px -3px rgba(0,0,0,1);
	transition: all 0.1s;

}

.photo-grid img:hover{
	box-shadow: 0px 7px 43px 9px rgba(255,255,255,1);
	transition: all 0.1s;
} */

/* ------------------------------------------------------END OF snapshot.html STYLE---------------------------------------------------------*/

/* ------------------------------------------------------article.html STYLE---------------------------------------------------------------*/

/* .article-box {
	padding :20px;
	width: 80%;
	max-width: 700px;
	margin: 20px auto;
	font-family: 'Quicksand', sans-serif;
	background-color: #FFFAF0;
	box-shadow: 0px 7px 17px -3px rgba(0,0,0,1);

}

.date {
	color : #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

}

.quote {
	border-left: solid #D3D3D3 5px;
	padding-left: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
} */

/* ------------------------------------------------------END OF article.html STYLE---------------------------------------------------------*/
