* {
	box-sizing: border-box;
}

body {
	background-color: white;
	margin: 0;
	padding:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* ------------------------------------------------------HEADER STYLE--------------------------------------------------------------*/

.header-box {
	width: 100%;
}

.header-box h1 {
	margin: 20px auto;
	padding-bottom:20px;
	font-family: 'Parisienne', cursive;
	font-size: 80px;
	text-align: center;
	color: #2F4F4F;
}

.header-box nav ul {
	text-align: center;
	margin:0;
	padding: 0;
}

.header-box nav ul li {
	padding: 0.5em;
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.header-box nav ul li a {
	padding: 20px 50px 20px 50px;
	text-decoration: none;
	list-style-type: none;
	color: #64dfdf;
	border-radius: 0.2em;
	transition: all 0.5s;
}

.header-box nav ul li a:hover {
	background-color: #64dfdf;
	color:#FFFAF0;
	transition: all 0.5s;
}

/* ------------------------------------------------------END OF header STYLE----------------------------------------------------------------------*/

.profile-box {
	width: 85%;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	font-family: 'Quicksand', sans-serif;
	margin: auto 1em;
}

.profile-box h1 {
	color: #2c3e50;
	font-size: 2rem;
	letter-spacing: 0.2rem;
	margin: 0;
}

.profile-box h2 {
	color: #2c3e50;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	opacity: 50%;
	margin: 0;
}

.profile-box p {
	line-height: 2rem;
}

.left-profile {
	width: 50%;
	text-align: left;
	display: flex;
	align-items: center;
}

.photo-profile {
	text-align: center;
}

.photo-profile img {
	width: 50%;
	border-radius: 50%;
	border: solid 0.2rem whitesmoke;
}

.right-profile {
	text-align: justify;
	width: 50%;
	display: flex;
	align-items: center;
}


/* ------------------------------------------------------END OF index.html STYLE---------------------------------------------------------*/

/* ------------------------------------------------------snapshot.html STYLE----------------------------------------------------------*/


/* 
.photo-grid img{
	width: 30%;
	height: 350px;
	float:left;
	margin: 1.66%;
	box-shadow: 0px 7px 17px -3px rgba(0,0,0,1);
	transition: all 0.1s;

}

.photo-grid img:hover{
	box-shadow: 0px 7px 43px 9px rgba(255,255,255,1);
	transition: all 0.1s;
} */

/* ------------------------------------------------------END OF snapshot.html STYLE---------------------------------------------------------*/

/* ------------------------------------------------------article.html STYLE---------------------------------------------------------------*/

/* .article-box {
	padding :20px;
	width: 80%;
	max-width: 700px;
	margin: 20px auto;
	font-family: 'Quicksand', sans-serif;
	background-color: #FFFAF0;
	box-shadow: 0px 7px 17px -3px rgba(0,0,0,1);

}

.date {
	color : #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

}

.quote {
	border-left: solid #D3D3D3 5px;
	padding-left: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
} */

/* ------------------------------------------------------END OF article.html STYLE---------------------------------------------------------*/
